<div class="featurette" id="featurette_{{id}}">
	<img class="featurette-image img-circle" alt="512x512" src="{{imgSrc}}" style="width: 175px; height: 175px;">		
	<h2 class="featurette-heading">{{name}}, <span class="text-muted">{{area}}</span></h2>
	<p class="lead">Last reported at <span class="strong">{{lastReportedTime}}</span> with a speed of <span class="strong">{{lastReportedSpeed}}</span>.<br />The driver was last tested at <span class="strong">{{lastTestedTime}}</span> and is <span class="strong">{{driverStatus}}</span>. {{systemStatus}}</p>
</div>